.todo--item-box {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  justify-content: space-between;
  background-color: #fff9de;
  border-radius: 8px;
  padding: 15px;
}

.todo--item__header {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  justify-content: space-between;
  padding-bottom: 15px;
}

.todo--item__header > h3 {
  margin: 0;
}

.todo--item__header--action {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 2px;
}

.todo--item__header--action__bullet {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #b2afa1;
}

.todo--item__content > p {
  margin: 0;
  font-size: 0.8rem;
}

.todo--item__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

.todo--item__footer--category {
  display: flex;
  align-items: center;
  gap: 5px;
}

.todo--item__footer--category--item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

.todo--item__footer--work {
  background-color: #d2ceff;
}

.todo--item__footer--study {
  background-color: #d1e5f7;
}

.todo--item__footer--entertaiment {
  background-color: #ffcece;
}

.todo--item__footer--family {
  background-color: #daf2d6;
}

.todo--item__completed {
  text-decoration: line-through;
}

@media screen and (min-width: 767px) {
}
