.todolist--container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

@media screen and (min-width: 767px) {
  .todolist--container {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    max-height: calc(100vh - 114px);
    overflow-x: auto;
  }
}

@media screen and (min-width: 991px) {
  .todolist--container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
